API_KEY=token da API DE CLIMA

DB_HOST=clima_mysql
DB_PORT=3306

DB_HOST_LOCAL=localhost
DB_PORT_LOCAL=3307

DB_USER=admin
DB_PASSWORD=admin
DB_NAME=clima

TELEGRAM_TOKEN=SEU TOKEN
TELEGRAM_CHAT_ID=SEU ID